<app-topbar ></app-topbar>

<div class="dashboard">

  <!-- Seletor de dispositivo -->
  <div class="filtro-dispositivo" *ngIf="auth.getRole() !== 'root' && dispositivos.length > 0">
    <label for="seletorDispositivo">Selecionar Dispositivo: </label>
    <select id="seletorDispositivo" [(ngModel)]="dispositivoSelecionado" (change)="onDispositivoChange()">
    <option value="" selected>Selecione o dispositivo</option>
      <option *ngFor="let disp of dispositivos" [value]="disp.uid">
        {{ disp.nome || disp.uid }}
      </option>
</select>
  </div>

  <!-- Layout principal -->
  <div class="dashboard-layout" *ngIf="auth.getRole() !== 'root' && dispositivoSelecionado">
    <!-- Coluna da galeria -->
    <div class="coluna-galeria" *ngIf="fotosCapturadas.length > 0">
      <h2>📸 Galeria</h2>
      <div class="galeria-container">
        <!-- Miniaturas -->
        <div class="miniaturas">
          <img *ngFor="let foto of fotosCapturadas.slice(-6); let i = index" [src]="foto.url" alt="Foto {{ i + 1 }}"
            [class.selecionada]="i === fotoSelecionada" (click)="fotoSelecionada = i" />
        </div>
        <!-- Foto principal e informações -->
        <div class="foto-principal">
          <img [src]="fotosCapturadas.slice(-6)[fotoSelecionada]?.url" alt="Foto selecionada" />
        </div>
      </div>
    </div>

    <!-- Coluna das informações -->
    <div class="coluna-grafico">
      <!-- Tabela de informações -->
      <h2>📋 Informações</h2>
      <table class="tabela-info" *ngIf="fotosCapturadas.slice(-6)[fotoSelecionada]?.dados">
        <tr>
          <th>Timestamp</th>
          <td>{{ fotoSelecionadaDados?.timestamp || 'N/A' }}</td>
        </tr>
        <tr>
          <th>Temperatura</th>
          <td>{{ fotoSelecionadaDados?.temperatura || 'N/A' }} °C</td>
        </tr>
        <tr>
          <th>Umidade</th>
          <td>{{ fotoSelecionadaDados?.umidade | number:'1.2-2' }} %</td>
        </tr>
        <tr>
          <th>Classe</th>
          <td>{{ fotoSelecionadaDados?.resultado.class || 'N/A' }}</td>
        </tr>
        <tr>
          <th>Confiança</th>
          <td>{{ fotoSelecionadaDados?.resultado.confidence | number:'1.2-2' }} %</td>
        </tr>
      </table>
      <!-- Geáfico de DHT11-->
      <h2>📊 Gráfico do Dispositivo</h2>
      <canvas id="graficoDispositivo"></canvas>
    </div>

  </div>
</div>