<app-topbar></app-topbar>

<div class="dispositivos">
  <h1>Edição de Dispositivos Cadastrados</h1>

  <div class="add-dispositivo">
    <select *ngIf="auth.getRole() === 'root'"[(ngModel)]="clienteSelecionado" (change)="carregarDispositivos()">
      <option value="" selected>Selecione o Cliente</option>
      <option *ngFor="let cliente of clientes" [value]="cliente.id">
        {{ cliente.nome }}
      </option>
    </select>

  <div *ngIf="dispositivos.length === 0">
    <p>Nenhum dispositivo cadastrado.</p>
  </div>

  <table *ngIf="dispositivos.length > 0">
    <thead>
      <tr>
        <th>UID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dispositivo of dispositivos">
        <td>{{ dispositivo.id }}</td>
        <td>
          <div *ngIf="!dispositivo.editando">
            {{ dispositivo.nome }}
            </div>
          <div *ngIf="dispositivo.editando">
            <input [(ngModel)]="dispositivo.novoNome" />
          </div>
        </td>
        <td>
          <div *ngIf="!dispositivo.editando">
            {{ dispositivo.descricao }}
          </div>
          <div *ngIf="dispositivo.editando">
            <input [(ngModel)]="dispositivo.novoDescricao" />
          </div>
          <td>
          <div *ngIf="!dispositivo.editando">
            <button (click)="habilitarEdicao(dispositivo)">Editar</button>
            <button class="danger" (click)="removerDispositivo(dispositivo.id)">Remover</button>
          </div>
          <div *ngIf="dispositivo.editando">
            <button (click)="editarDispositivo(dispositivo)">Salvar</button>
            <button class="secondary" (click)="cancelarEdicao(dispositivo)">Cancelar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
