<div class="topbar">
  <div class="topbar-left">
    <div class="logo">🌿 AgroScan</div>

    <!-- <div class="topbar-cards">
      <div class="card" *ngIf="auth.getRole() === 'root'">
        <h2>Clientes</h2>
        <p>{{ totalClientes }}</p>
      </div>
      <div class="card">
        <h2>Disp. Provis.</h2>
        <p>{{ totalDispositivos }}</p>
      </div>
      <div class="card">
        <h2>Usuários</h2>
        <p>{{ totalUsuarios }}</p>
      </div>
      <div class="card">
        <h2>Disp. Pré-cadas.</h2>
        <p>{{ totalDispositivosPre }}</p>
      </div>
    </div> -->
  </div>

  <nav class="topbar-nav">
    <a routerLink="/dashboard-root">Dashboard</a>
    <a *ngIf="auth.getRole() === 'root'" routerLink="/clientes">Clientes</a>
    <a *ngIf="auth.getRole() === 'root' || auth.getRole() === 'admin_cliente'" routerLink="/usuarios">Usuários</a>
    <a *ngIf="auth.getRole() === 'root' || auth.getRole() === 'admin_cliente'" routerLink="/PreCadastroDisp">Pré-Cadastro</a>
    <a *ngIf="auth.getRole() === 'admin_cliente'" routerLink="/dispositivos">Dispositivos</a>
    <a *ngIf="auth.getRole() === 'root'" routerLink="/permissoes">Permissões</a>
    <!-- <a *ngIf="auth.getRole() === 'root'" routerLink="/logs">Logs</a> -->
    <button class="logout" (click)="logout()">Sair</button>
  </nav>
</div>
