<div class="topbar">
  <div class="topbar-left">
    <div class="logo">🌿 AgroScan</div>
  </div>

  <nav class="topbar-nav">
    <a *ngIf="auth.getRole() !== 'root'" routerLink="/dashboard-root">Dashboard</a>
    <a *ngIf="auth.getRole() === 'root'" routerLink="/clientes">Clientes</a>
    <a *ngIf="auth.getRole() === 'root' || auth.getRole() === 'admin_cliente'" routerLink="/usuarios">Usuários</a>
    <a *ngIf="auth.getRole() === 'root' || auth.getRole() === 'admin_cliente'" routerLink="/PreCadastroDisp">Pré-Cadastro</a>
    <a *ngIf="auth.getRole() === 'admin_cliente'" routerLink="/dispositivos">Dispositivos</a>
    <a *ngIf="auth.getRole() === 'root'" routerLink="/permissoes">Permissões</a>
    <button class="logout" (click)="logout()">Sair</button>
  </nav>
</div>
